/* Reset and Global Styles */
html {
  font-size: 8px;
  --primary: #0697f2;
  --container: #f0f1f2;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 4em 12.5em;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 6rem;
  margin-right: 2em; /* Jarak antara logo dan teks Mechaban */
}

.logo-text {
  font-size: 4em;
  font-weight: bold;
  color: white;
}

/* Navigation */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Agar elemen dalam nav berada di tengah secara vertikal */
  gap: 20px;
}

nav li {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}

nav ul li {
  list-style: none;
}

/* Masuk Button */
.masuk-btn {
  background-color: white;
  color: var(--primary);
  padding: 0.5rem 1.5rem; /* Adjusted padding for better alignment */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5em; /* Adjusted size to fit better in the navigation */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
}

/* Optional hover effect */
.masuk-btn:hover {
  background-color: var(--primary);
  color: white;
}

/* Whatsapp Icon */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-icon img {
  width: 50px;
  height: 50px;
}

/* Hero Section */

.hero {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}

.background {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex: 0 0 33.33%;
  padding: 10px;
}

.col-7 {
  flex: 0 0 58.33%;
  padding: 10px;
}

.hero-content {
  flex: 1;
  margin-right: 30px; /* Mengatur jarak antara teks dan gambar */
}

.hero-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
}
.download h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.booking-btn {
  background-color: white;
  color: var(--primary);
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.hero-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 80%;
}

.hero-slider {
  position: relative;
  max-width: 80%;
  height: 400px; /* Tetapkan tinggi tetap untuk slider */
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Agar gambar menutupi slide tanpa distorsi */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.download {
  margin-top: 40px;
}

.download h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.download img {
  width: 100%;
  max-width: 200px; /* Tentukan ukuran maksimum untuk badge unduhan */
  height: auto;
}

/*Card section*/
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container);
}

.card-section {
  margin: 5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 1500px;
  height: 600px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-head {
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 18px;
}

.card-title {
  font-size: 2em;
  color: var(--primary);
  margin-bottom: 10px;
}
.title-desc {
  font-size: 1.5em;
}

.mechaban {
  color: var(--primary);
}

.card-title-2 {
  font-size: 2em;
  color: var(--primary);
  margin-bottom: 80px;
}

/*Isi cardview*/
.card-content {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  text-align: center;
}

.card-fitur {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease;
  padding: 10px;
}

.img-card {
  justify-content: center;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-top: 10px;
}

.name-card {
  margin-top: 8px;
  color: var(--primary);
  margin-bottom: 8px;
  font-size: 28px;
}

.name-card-2 {
  margin-top: 8px;
  color: var(--primary);
  margin-bottom: 8px;
  font-size: 24px;
}

.name-card-desc {
  font-size: 1em;
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
  padding: 10px;
}

/*Merk Section*/
#merk {
  height: 500px;
}

.merk-galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 40px, 20px;
  justify-items: center;
  align-items: center;
}

.merk-logo {
  max-width: 100px;
  height: auto;
}

@media screen and (min-width: 1201px) {
  .merk-galeri {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* Pada layar besar, tampilkan 5 logo per baris */
  }
}

/*FAQ*/
.accordion {
  max-width: 1200px;
  margin: 0 auto;
}

.accordion-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.accordion-header {
  background-color: white;
  color: black;
  padding: 15px;
  border: none;
  width: 600px;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
}

.accordion-content p {
  margin: 0;
}

/*Iklan*/
#iklan-section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
#iklan {
  width: 1200px;
  height: 350px;
  display: flex;
}

.iklan-content {
  background-image: url("../img/bg-iklan.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70%;
  margin-top: 100px;
  color: white;
}

.iklan-content h1 {
  font-size: 32px;
  margin-left: 32px;
  margin-bottom: 0%;
}

.iklan-content p {
  font-size: 20px;
  padding: 10px;
  margin-left: 28px;
}

.gambar-hp {
  width: 35%; /* Mengatur lebar gambar agar tidak terlalu besar */
  height: auto;
  margin-right: 10rem;
  z-index: 10;
}

/*Footer*/
/* Styling untuk footer */
footer {
  background-color: #0697f2;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  min-height: 500px; /* Menetapkan tinggi minimal footer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .container-fluid {
  flex-grow: 1;
  max-width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center; /* Pusatkan konten dalam container */
  align-items: center;
}

footer .row {
  display: flex;
  justify-content: space-evenly; /* Sejajarkan kolom dengan ruang yang sama di antaranya */
  align-items: center; /* Vertikal align heading agar sejajar dengan konten Mechaban */
  width: 80%; /* Kolom hanya memenuhi 80% dari lebar total */
  height: 80%; /* Membuat konten row memenuhi 80% dari tinggi footer */
  flex-wrap: wrap;
  text-align: left; /* Mengatur teks tetap rata kiri */
}

footer .col-md-4 {
  flex: 1;
  max-width: 33.33%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Pusatkan vertikal elemen di setiap kolom */
  align-items: flex-start; /* Agar konten tetap rata kiri dalam kolom */
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.footer-map {
  max-width: 100%;
  border-radius: 5px;
}

footer h4 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

footer p {
  margin: 0;
  font-size: 18px;
}

.footer-bottom {
  background-color: #005bb5;
  padding: 20px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
  margin-top: 20px;
}

.iklan-hp {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 1500px;
  height: 600px;
  transition: transform 0.3s ease;
}